@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Rock+Salt&display=swap');

@font-face {
    font-family: "Lapiz";
    src: url("../Fuentes/Bolten\ Regular.otf");
}

body.dark {
    background-color: rgb(1, 131, 131);
    color: white;
}

body {
    background-color: aqua;
    margin: 0;
}

.dark nav {
    background-color: rgb(92, 119, 128);
}

.dark .card {
    background-color: black;
}

.dark section {
    background-color: rgb(104, 104, 0);
}

.dark aside {
    background-color: rgb(104, 104, 0);
}

.dark footer {
    background-color: rgb(92, 119, 128);
}

.dark a {
    color: red;
    background-color: white;
}

.dark main {
    background-image: url('../IMG/noche.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

main{
    background-image: url("../IMG/fondo.jpg");
    background-size: contain;
    display: flex;
    justify-content: center;
}

li {
    font-size: 1rem;
    font-family: "Lapiz";
}

h1 {
    text-align: center;
    color: orangered;
    text-decoration-line: underline;
    text-decoration-color: blue;
    font-family: 'Rock Salt', cursive;
}

h2 {
    color: red;
    text-decoration-line: underline;
    text-decoration-color: blue;
    font-family: 'Rock Salt', cursive;
}

p {
    font-size: 2rem;
    font-family: "Lapiz";
}

img {
    width: 70%;
}

header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div img{
    display: none;
}

nav {
    background-color: lightblue;
    margin-top: 1%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

nav p {
    text-align: center;
}

nav div.card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

nav div#links {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
}

section {
    overflow: auto;
    width: 40%;
    text-align: center;
    background-color: yellow;
    box-sizing: border-box;
    height: 90vh;
    border-radius: 100px 0 0 100px;
}

aside {
    overflow: auto;
    width: 40%;
    background-color: yellow;
    text-align: center;
    box-sizing: border-box;
    height: 90vh;
    border-radius: 0 100px 100px 0;
}

aside div#video iframe {
    width: 500px;
    height: 315px;
}

aside div#mapa iframe{
    width: 400px;
    height: 300px;
}

footer {
    background-color: lightblue;
    clear: both;
    text-align: center;
}

footer li {
    font-size: 40px;
    
}

footer h2{
    margin: unset;
}

body div a#Wicono {
    background-color: #00bb2d;
    color: white;
    position: fixed;
    font-size: 39px;
    padding: 10px;
    top: 75%;
    right: 1%;
    text-align: center;
    line-height: 1px;
    border-radius: 30px;
    box-shadow: 5px 5px 6px rgb(0 0 0 / 40%);;
}

audio:hover {
    background-color: red;
}

h1:hover {
    background-color: yellow;
}

h2:hover {
    background-color: blue;
}

p:hover {
    background-color: chartreuse;
}

a:visited {
    color: gray;
}

a:hover {
    background-color: rgb(255, 255, 255);
    color: red;
}

body div a#Wicono:hover {
    opacity: 0.8;
    outline: 0;
    box-shadow: none;
    color: white;
}

section:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: -5px 10px 8px #888888;
}

aside:hover {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 10px 8px #888888;
}

@media (max-width: 570px) {

    header div img{
        display: inline;
    }
    
    aside{
        display: none;
    }

    section{
        width: 80%;
        border-radius: 100px;
        height: auto;
        overflow: unset;
        padding: 10px;
    }
}

@media (max-width: 1024px) {
    main aside div#video iframe{
        width: unset;
        height: 300px;
    }

    main aside div#mapa iframe{
        width: unset;
        height: unset;
    }
}